<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sear.Properties.Settings.BikeStoresConnectionString"
            connectionString="Data Source=LILIANA-PC;Initial Catalog=BikeStores;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyServiceSoapBinding" />
                <binding name="MyServiceSoapBinding1" />
                <binding name="MyServiceSoapBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebServiceTest/services/MyService"
                binding="basicHttpBinding" bindingConfiguration="MyServiceSoapBinding"
                contract="LocalServices.MyService" name="MyService" />
            <endpoint address="http://localhost:8080/AppData/services/MyService"
                binding="basicHttpBinding" bindingConfiguration="MyServiceSoapBinding1"
                contract="ServiceApp.MyService" name="MyService1" />
            <endpoint address="http://localhost:8080/AppData/services/MyService"
                binding="basicHttpBinding" bindingConfiguration="MyServiceSoapBinding2"
                contract="ServiceReference1.MyService" name="MyService2" />
        </client>
    </system.serviceModel>
</configuration>